.checkoutForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333333;
    font-family: "Gideon Roman", serif;
  }

  .formGroup {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333333;
      font-family: "Gideon Roman", serif;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #b7b7b7;
      border-radius: 8px;
      background-color: #f3f3f3;
      font-size: 1rem;
      color: #333333;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #6c5ce7;
        outline: none;
      }
    }
  }

  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: #b37fc4;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Gideon Roman", serif;

    &:hover {
      background-color: #a29bfe;
      transform: scale(1.03);
    }

    &:active {
      background-color: #8c7ae6;
    }
  }
}
