.main-container {
  min-height: 800px;
}

.main-container-light {
  height: 850px;
  width: 100vw;
}

.main-container-dark {
  @extend .main-container-light;
  background-color: rgb(15, 15, 15);
  color: white;
}
