@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.elementosNav {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 170px;
  width: 100%;
  text-align: center;
  font-family: "Gideon Roman", serif;
  .tituloNav {
    font-family: "Gideon Roman", serif;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-self: center;
  }
}

.elementosNav-dark {
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  height: 170px;
  width: 100%;
  text-align: center;
  font-family: "Gideon Roman", serif;
  .tituloNav {
    font-family: "Gideon Roman", serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-self: center;
  }
}

nav {
  ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px 0px 30px;
    li {
      float: left;
      .notActive {
        font-family: "Gideon Roman", serif;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        letter-spacing: 4px;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
          background-color: #caad07;
        }
      }
      .isActive {
        @extend .notActive;
        background-color: #caad0773;
      }
      .notActive-dark {
        color: rgb(255, 255, 255); // Oscuro
      }

      .isActive {
        @extend .notActive;
        background-color: #caad07;
      }
    }
  }
}

.cartLink {
  display: flex; // Alinea el ícono y el contador en línea
  align-items: center;
  text-decoration: none; // Elimina el subrayado del enlace

  .cart {
    width: 30px; // Ajusta el tamaño de la imagen del carrito según necesites

    margin-right: 5px; // Espacio entre el ícono y el contador
    transition: transform 0.2s ease; // Efecto suave al hacer hover
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: #333; // Color de texto del contador
  }

  &:hover .cart {
    transform: scale(1.2); // Aumenta ligeramente el ícono al pasar el cursor
  }

  &:hover span {
    color: #007bff; // Cambia el color del contador al pasar el cursor
  }
}
