.cajaCompartir {
  width: 100vw;
  height: 600px;
  display: grid;
  background-image: url("../assets/img/banners/Banner.png");
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 40px;

  .fondoBlanco {
    width: 100%;
    height: 100%;
    max-width: 800px;
    background-color: rgba(228, 174, 189, 0.9);
    grid-column: 4 / 8;
    grid-row: 3 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .obj1,
    .obj2 {
      font-family: "Luxurious Roman", serif;
      padding: 0 20px;
      font-size: 25px;
      text-align: center;
    }

    .obj3 {
      padding: 10px 20px;
      font-size: 20px;
      background-color: #e98270;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      border: none;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }

      .botonIg {
        font-family: "Gideon Roman", serif;
        font-size: 20px;
      }
    }
  }
}
